.box1 {
  width: 200px;
  height: 200px;
  background-color: beige;
}

.box4 {
  width: 400px;
  height: 200px;
  background: url('../../images/es.png');
  background-size: cover;
}
.box5 {
  width: 400px;
  height: 200px;
  background: url('../../images/ts.jpeg');
  background-size: cover;
}
.box6 {
  width: 400px;
  height: 200px;
  background: url('../../images/vue.webp');
  background-size: cover;
}